/* Error: Missing argument $size.
 *    ,--> styles\layouts\_lnb.scss
 * 83 |             @include text-style()
 *    |             ^^^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> styles\mixins\_text-style.scss
 * 66 | @mixin text-style($size, $color: false) {
 *    |        ================================ declaration
 *    '
 *   styles\layouts\_lnb.scss 83:13       text-style()
 *   styles\layouts\_lnb.scss 83:13       @content
 *   styles\mixins\_responsive.scss 11:7  responsive()
 *   styles\layouts\_lnb.scss 81:5        @forward
 *   styles\main.scss 41:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $size.\a    \250c \2500 \2500 > styles\\layouts\\_lnb.scss\a 83 \2502              @include text-style()\d\a    \2502              ^^^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > styles\\mixins\\_text-style.scss\a 66 \2502  @mixin text-style($size, $color: false) {\d\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   styles\\layouts\\_lnb.scss 83:13       text-style()\a   styles\\layouts\\_lnb.scss 83:13       @content\a   styles\\mixins\\_responsive.scss 11:7  responsive()\a   styles\\layouts\\_lnb.scss 81:5        @forward\a   styles\\main.scss 41:1                root stylesheet";
}
