// svg 파일 fonts로 변환 - 파일 용량이 작음,사용법이 단순함 단 ,	width, height, stroke, fill 같은 SVG 속성 불가,유지보수 어려움 


@font-face {
    font-family: 'tomorrowfonts';
    src:  url('./assets/fonts/tomorrowfonts.eot?82jexh');
    src:  url('./assets/fonts/tomorrowfonts.eot?82jexh#iefix') format('embedded-opentype'),
      url('./assets/fonts/tomorrowfonts.ttf?82jexh') format('truetype'),
      url('./assets/fonts/tomorrowfonts.woff?82jexh') format('woff'),
      url('./assets/fonts/tomorrowfonts.svg?82jexh#tomorrowfonts') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
