/****************************************/
/*	PART: RESET CSS
/****************************************/

@use '../constants/typography' as *;
@use '../constants/colors' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html { 
    // font-size: 62.5%;
    font-size: $font-size-16;
    padding: 0;
    margin: 0;
    // font-family: 'Noto Sans KR', sans-serif;
  } /* rem default 10px */
  body {
    color: $primary;
    background: #fff;
    width: 100%;
    overflow-x: hidden;
    /* 뷰표트 변환시 폰트크기 자동확대 방지. */
    -webkit-text-size-adjust: none;
    // font-family: 'Noto Sans KR', sans-serif;
  }

  button,
  input,
  select,
  textarea {
    background-color: transparent;
    border: 0;

    &:focus {
      outline: none;
      box-shadow: none;

    }
  }
  fieldset, img  {
    border: 0 none;
  }

  /* HTML, body 높이값 100% 고정 */
  html, body {
    height: 100%;
    height: 100vh;
    min-height: 100vh;
  }
  
  body, div, dl, dt, dd, ul, ol, li, hgroup, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset,
  legend, textarea, p, blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0;
  }
    
  dl, ul, ol, menu, li {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  address, caption, cite, code, dfn, em, var, i, b {
    font-style: normal;
    font-weight: 400;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  input, select, textarea, button {
    vertical-align: middle;
    font-size: 100%;
  }
  
  button {

    cursor: pointer;
  } /* 포커스 라인 비활성처리*/
  table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  input,
  textarea,
  select {
    background-color: transparent;
  }
  
  input:checked[type=checkbox] {
    background-color: #666;
    -webkit-appearance: checkbox;
  }
  
  input[type=text], input[type=password], input[type=submit],
  input[type=search], input[type=tel], input[type=email] {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  
  input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  
  /* 
  select {appearance:none; -webkit-appearance:none; -moz-appearance:none; border-radius:0; ; -webkit-border-radius:0 ; -moz-border-radius:0 ; -ms-border-radius:0 ; -o-border-radius:0 ; border-color: #ccc; text-indent: 10px;  background:url(../../img/ico_selarrow.png) 100% 50% no-repeat; background-size:auto calc(1.8rem/3);}
  */
  select::-ms-expand {
    display: none;
  } /* IE9 이상 select 화살표 삭제 */
  /* select {border-radius:0; ; -webkit-border-radius:0 ; -moz-border-radius:0 ; -ms-border-radius:0 ; -o-border-radius:0 ; border-color: #ccc; text-indent: 10px; } */
  body, th, td, input, select, textarea, button {
    font-size: 1.4rem;
    font-family: $font-main;
    font-weight: 400;
    color: #333;
  }
  
  input[type=text]:-moz-read-only, input[type=password]:-moz-read-only {
    background: #f6f6f6;
  }
  
  input[type=text]:read-only, input[type=password]:read-only,
  input[type=text]:disabled, input[type=password]:disabled {
    background: #f6f6f6;
  }
  
  strong {
    font-family: $font-main;
    font-weight: 400;
  }
  
  b {
    font-family: $font-main;
    font-weight: 600;
  }
  
  a {
    display: inline-block;
    color: inherit;
    text-decoration: none; /*outline:transparent;*/
  }
  
  a:active, a:hover {
    text-decoration: none;
  }
  
  legend, caption {
    position: absolute !important;
    overflow: hidden !important;
    height: 1px !important;
    width: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0 !important;
    border: 0;
    clip: rect(1px 1px 1px 1px);
  }
  
  .hr {
    display: none;
    visibility: hidden;
  }
  


  //추가 reset


  .smoothed {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } //font를 좀더 부드럽게 처리  이후에 * 로 또 사용 (font smoothing 모질라에서 가져옴)


  address {
    font-style: nomal;
  }