@use '../mixins/flexbox' as *;
@use '../constants/colors' as *;
@use '../constants/indexes.scss' as *;


.search-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $search-modal-level;
    width: 100%;
    height: 100vh;
    padding: 12px 0 ;
    background-color: $white;

    &-header {
        margin-bottom: 20px;
    }

    &-form {
        @include flexbox(between);

        .input-group {
            flex-grow: 1; //알아서 크기를 맞춰라 
        }

        .btn-ghost {
            flex-grow: 0; //영역이 넓어져도 커지지말것.
            flex-shrink: 0; //원래 사이즈보다 절대 작아지지말것.            
            width: 56px;
            margin-left: 8px;
        }
    }
}